@keyframes schnee {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
@-moz-keyframes schnee {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
@-webkit-keyframes schnee {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
@-ms-keyframes schnee {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#MenuD {
  position: absolute;
  top: 0%;
  left: 89.5%;
}

#navigationsleiste {
  position: relative;
}
.custom-dropdown {
  position: relative;
}

li {
  list-style: none;
  margin: 10px;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: #ffffff;
}

.container1 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#markenname {
  font-size: 3.5em;
}

#navigationsleiste {
  /* box-shadow: #c0c1c1 2px 2px;*/
  border-radius: 2px;
  padding-bottom: 1%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  height: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  background-image: linear-gradient(
    0deg,
    #2f272f 0%,
    #3f4e50 50%,
    #73787a 100%
  );
}

#eingabeformular-container {
  width: 90%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: eingabeformular-bereich;
  padding: 3rem 3rem;
  background-color: #a7b3be;
  border-radius: 0.2rem;
}

#eingabeformular-container > .eingabeformular-zeile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#eingabeformular-container > .eingabeformular-zeile > * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#eingabeformular-container > .eingabeformular-zeile:last-of-type {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

[class$='-eingabe-gruppe'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}
*/ [class$='-eingabe-gruppe'] > label,
[class$='-eingabe-gruppe'] > input {
  line-height: 2.5rem;
  border: 0.1rem solid #ced4da;
}

[class$='-eingabe-gruppe'] > label {
  width: 8.2rem;
  padding: 0.5rem 1.8rem 0.5rem 2rem;
  background-color: #e9ecef;
  color: #495057;
  text-align: center;
  cursor: text;
}

[class$='-eingabe-gruppe'] > :first-child {
  border-right: none;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

[class$='-eingabe-gruppe'] > :last-child {
  border-left: none;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

[class$='-eingabe-gruppe'] > input {
  padding: 0.375rem 0.75rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #495057;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.titel-typ-eingabe-gruppe > input {
  border: none;
  cursor: pointer;
}

.titel-typ-eingabe-gruppe > label:nth-of-type(2) {
  width: 12rem;
  background-color: #d4edda;
  color: #28a745;
  border-color: #c3e6cb;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.titel-typ-eingabe-gruppe > label:nth-of-type(3) {
  width: 12rem;
  background-color: #f8d7da;
  color: #dc3545;
  border-color: #f5c6cb;
  border-left: none;
  cursor: pointer;
}

.titel-typ-eingabe-gruppe > input[type='radio'] {
  display: none;
}

.titel-typ-eingabe-gruppe > input[type='radio']:checked + label {
  color: #fff;
  z-index: 1;
}

.titel-typ-eingabe-gruppe > input[type='radio']:nth-of-type(2):checked + label {
  background-color: #28a745;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.titel-typ-eingabe-gruppe > input[type='radio']:nth-of-type(3):checked + label {
  background-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  cursor: pointer;
}

.betrag-datum-eingabe-gruppe > input:nth-of-type(1) {
  border: none;
  cursor: pointer;
}

#datum {
  border: none;
}

.betrag-datum-eingabe-gruppe > label:nth-of-type(2) {
  border-right: none;
  border-left: none;
}

button.standard {
  max-width: 24rem;
  line-height: 2.5rem;
  font-size: 1.4rem;
  background-color: #4df6f3;
  border: 0.1rem solid #37ebe8;
  padding: 0.5rem 2rem;
  color: #6e6e6e;
  border-radius: 0.2rem;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

button.standard:focus {
  border-color: #807e7e;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  z-index: 1;
}

#monatslisten {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: monatslisten-bereich;
}

.monatsliste {
  margin: 1rem 3rem 0;
  border-bottom: 0.1rem solid #ced4da;
}

.monatsliste > h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.monatsliste > h2 > .monat-jahr {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.monatsliste > h2 > .monatsbilanz {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.2rem;
}

.monatsliste > h2 > .monatsbilanz.positiv {
  background-color: #28a745;
}

.monatsliste > h2 > .monatsbilanz.negativ {
  background-color: #dc3545;
}

.monatsliste > ul {
  list-style: none;
  padding: 0;
  /* margin-bottom: 4rem; */
}

.monatsliste > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5rem;
  margin: 0.2rem 0;
}

.monatsliste > ul > li > .datum {
  padding: 0.5rem 1.8rem 0.5rem 2rem;
  border-top: 0.1rem solid #ced4da;
  border-right: none;
  border-bottom: 0.1rem solid #ced4da;
  border-left: 0.1rem solid #ced4da;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background-color: #ecedee;
  color: #495057;
  width: 12rem;
  text-align: center;
}

.monatsliste > ul > li > .titel {
  padding: 0.5rem 2rem;
  border-top: 0.1rem solid #ced4da;
  border-right: none;
  border-bottom: 0.1rem solid #ced4da;
  border-left: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.titel2 {
  text-align: end;
}

.monatsliste > ul > li > .betrag {
  padding: 0.5rem 2rem;
  border-top: 0.1rem solid #ced4da;
  border-right: none;
  border-bottom: 0.1rem solid #ced4da;
  border-left: none;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.entfernen-button {
  color: #000000;
  width: 4.5rem;
  background-color: #f79b9b;
  padding: 0.5rem 1rem;
  border-top: 0.1rem solid #ced4da;
  border-right: 0.1rem solid #ced4da;
  border-bottom: 0.1rem solid #ced4da;
  border-left: none;
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.entfernen-button > * {
  pointer-events: none;
}

.entfernen-button:focus {
  border-color: #ff809c;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 0, 140, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 162, 0.25);
  z-index: 1;
}

.monatsliste > ul > li.ausgabe > .titel,
.monatsliste > ul > li.ausgabe > .betrag {
  background-color: #f8d7da;
  color: #dc3545;
  border-color: #f5c6cb;
}

.monatsliste > ul > li.einnahme > .titel,
.monatsliste > ul > li.einnahme > .betrag {
  background-color: #d4edda;
  color: #28a745;
  border-color: #c3e6cb;
}

#footer1 {
  box-shadow: #c0c1c1 2px 2px;
  border-radius: 2px;
  padding-bottom: 1%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  height: 10em;
  margin-top: 50%;
  margin-bottom: 2%;
  background-color: #2f272f;
  background-image: linear-gradient(
    0deg,
    #2f272f 0%,
    #3f4e50 50%,
    #4f616d 100%
  );
}

.ausgabe {
  color: red;
}

.einnahme {
  color: green;
}

/* CSS for different backgrounds */
.spring-background {
  background-color: #ffcc66; /* Spring background color */
}

.summer-background {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      45deg,
      orange 25%,
      orangered 25%,
      orange 75%,
      orangered 75%,
      orange
    ),
    linear-gradient(
      45deg,
      orange 25%,
      orangered 25%,
      orange 75%,
      orangered 75%,
      orange
    );
  background-size: 5em 10em;
  background-position: 0 0, 10px 10px;
}

.autumn-background {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-image: repeating-radial-gradient(
    #0c0a0a 80%,
    #2f312f 90%,
    #3f4549 90%
  );
  background-size: 65px 65px;
}

.winter-background {
  width: 100%;
  height: 100%;
  --s: 75px; /* control the size */

  --_c: #0000, #fff 1deg 79deg, #0000 81deg;
  --g0: conic-gradient(from 140deg at 50% 87.5%, var(--_c));
  --g1: conic-gradient(from 140deg at 50% 81.25%, var(--_c));
  --g2: conic-gradient(from 140deg at 50% 75%, var(--_c));
  --g3: conic-gradient(at 10% 20%, #0000 75%, #fff 0);
  background: var(--g0) 0 calc(var(--s) / -4),
    var(--g0) var(--s) calc(3 * var(--s) / 4), var(--g1),
    var(--g1) var(--s) var(--s), var(--g2) 0 calc(var(--s) / 4),
    var(--g2) var(--s) calc(5 * var(--s) / 4),
    var(--g3) calc(var(--s) / -10) var(--s),
    var(--g3) calc(9 * var(--s) / 10) calc(2 * var(--s)),
    repeating-conic-gradient(from 45deg, #a31e39 0 25%, #31570e 0 50%);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
}

.white-background {
  width: 100%;
  height: 100%;
  --bg: linear-gradient(
      45deg,
      rgb(0, 0, 0) 25%,
      transparent 25%,
      transparent 75%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0)
    ),
    linear-gradient(
      45deg,
      rgb(0, 0, 0) 25%,
      white 25%,
      white 75%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0)
    );
  --bgsize: 60px 60px;
  --bgposition: 0 0, 30px 30px;
  background-color: white;
  background-image: var(--bg);
  background-size: var(--bgsize);
  background-position: var(--bgposition);
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
  box-shadow: inset 0px 0px 500px rgb(15, 15, 15);
}
.white-background::before {
  content: '';
  width: 100%;
  height: 150%;
  box-shadow: 0px -100px 500px black, inset 0px 100px 500px rgb(15, 15, 15);
  position: absolute;
  top: 55%;
  background-image: var(--bg);
  background-size: var(--bgsize);
  background-position: var(--bgposition);
  transform-origin: top;
  transform: rotateX(80deg);
}

.snow {
  background-color: #797a7b !important;
  background-image: url('http://i.imgur.com/8zsjgyF.png'),
    url('http://i.imgur.com/wC1HUtA.png'), url('http://i.imgur.com/j5ekn4f.png');
  -webkit-animation: schnee 25s linear infinite;
  -moz-animation: schnee 25s linear infinite;
  -ms-animation: schnee 25s linear infinite;
  animation: schnee 25s linear infinite;
  background: url(../public/pics/schnee2.png), url(../public/pics/schnee1.png),
    url(../public/pics/schnee3.png);
}

.herbst {
  position: relative;
  width: 100%;
  height: 150vh;
  /* background: radial-gradient(#333, #000); */
  /* overflow: hidden;
  display: flex; */
  justify-content: center;
}

.herbst .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.herbst .set div {
  position: absolute;
  display: block;
}

.herbst .set div:nth-child(1) {
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}
.herbst .set div:nth-child(2) {
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}
.herbst .set div:nth-child(3) {
  left: 70%;
  animation: animate 20s linear infinite;
  animation-delay: -0s;
}
.herbst .set div:nth-child(4) {
  left: 0%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}
.herbst .set div:nth-child(5) {
  left: 85%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}
.herbst .set div:nth-child(6) {
  left: 0%;
  animation: animate 12s linear infinite;
}
.herbst .set div:nth-child(7) {
  left: 15%;
  animation: animate 14s linear infinite;
}
.herbst .set div:nth-child(8) {
  left: 60%;
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}

.set2 {
  transform: scale(2) rotateY(180deg);
  filter: blur(2px);
}

.set3 {
  transform: scale(0.8) rotateX(180deg);
  filter: blur(4px);
}

/* Add styles for other backgrounds as needed */
/* Dark Neon Background */
.dark-neon-background {
  background: linear-gradient(
    to right,
    #ff6b6b,
    #9d65c9,
    #3e8f5b,
    #ff3e3e,
    #9c27b0
  );
}

/* Custom button styles for each background mode */
.spring-button {
  background-color: #ffcc66;
  color: #000;
}

.summer-button {
  background-color: #66ccff;
  color: #000;
}

/* Add your background pattern here */

/* Add styles for other buttons as needed */
/* Menu Button Css */

.btn {
  width: 180px;
  height: 50px;
  margin-right: 10%;
  margin-top: 0.5%;
  margin-left: -3%;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
  font-family: 'Agbalumo', sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #565f64;
  color: #f5f5f5;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}
