*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#navigationsleiste {
  border-radius: 2px;  
  padding-bottom: 1%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
  width: 97%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: xx-large;  
  /* background-color: #2f272f; */
  background-image: linear-gradient(0deg, #2f272f 0%, #4b6a6f 50%, #a4b4bf 100%);
}

#markenname {
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
  font-family: "Amatic SC", cursive;
  line-height: inherit;
  vertical-align: bottom;
}

#markenname>[class*="fa-"] {
  font-size: 4rem;
  vertical-align: baseline;
  margin-right: 1rem;
}
