*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li {
  list-style: none;
  margin: 10px;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: #ffffff;
}

.container1 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#markenname {
  font-size: 3.5em;
}

#navigationsleiste {
  box-shadow: #c0c1c1 2px 2px;
  border-radius: 2px;
  padding-bottom: 1%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  height: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  background-image: linear-gradient(
    0deg,
    #2f272f 0%,
    #3f4e50 50%,
    #73787a 100%
  );
}

#eingabeformular-container {
  width: 90%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: eingabeformular-bereich;
  padding: 3rem 3rem;
  background-color: #a7b3be;
  border-radius: 0.2rem;
}

#eingabeformular-container > .eingabeformular-zeile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#eingabeformular-container > .eingabeformular-zeile > * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#eingabeformular-container > .eingabeformular-zeile:last-of-type {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

[class$="-eingabe-gruppe"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}
*/ [class$="-eingabe-gruppe"] > label,
[class$="-eingabe-gruppe"] > input {
  line-height: 2.5rem;
  border: 0.1rem solid #ced4da;
}

[class$="-eingabe-gruppe"] > label {
  width: 8.2rem;
  padding: 0.5rem 1.8rem 0.5rem 2rem;
  background-color: #e9ecef;
  color: #495057;
  text-align: center;
  cursor: text;
}

[class$="-eingabe-gruppe"] > :first-child {
  border-right: none;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

[class$="-eingabe-gruppe"] > :last-child {
  border-left: none;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

[class$="-eingabe-gruppe"] > input {
  padding: 0.375rem 0.75rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #495057;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.titel-typ-eingabe-gruppe > input {
  border: none;
  cursor: pointer;
}

.titel-typ-eingabe-gruppe > label:nth-of-type(2) {
  width: 12rem;
  background-color: #d4edda;
  color: #28a745;
  border-color: #c3e6cb;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.titel-typ-eingabe-gruppe > label:nth-of-type(3) {
  width: 12rem;
  background-color: #f8d7da;
  color: #dc3545;
  border-color: #f5c6cb;
  border-left: none;
  cursor: pointer;
}

.titel-typ-eingabe-gruppe > input[type="radio"] {
  display: none;
}

.titel-typ-eingabe-gruppe > input[type="radio"]:checked + label {
  color: #fff;
  z-index: 1;
}

.titel-typ-eingabe-gruppe > input[type="radio"]:nth-of-type(2):checked + label {
  background-color: #28a745;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.titel-typ-eingabe-gruppe > input[type="radio"]:nth-of-type(3):checked + label {
  background-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  cursor: pointer;
}

.betrag-datum-eingabe-gruppe > input:nth-of-type(1) {
  border: none;
  cursor: pointer;
}

#datum {
  border: none;
}

.betrag-datum-eingabe-gruppe > label:nth-of-type(2) {
  border-right: none;
  border-left: none;
}

button.standard {
  max-width: 24rem;
  line-height: 2.5rem;
  font-size: 1.4rem;
  background-color: #4df6f3;
  border: 0.1rem solid #37ebe8;
  padding: 0.5rem 2rem;
  color: #6e6e6e;
  border-radius: 0.2rem;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

button.standard:focus {
  border-color: #807e7e;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  z-index: 1;
}

#monatslisten {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: monatslisten-bereich;
}

.monatsliste {
  margin: 1rem 3rem 0;
  border-bottom: .1rem solid #ced4da;
}

.monatsliste>h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.monatsliste>h2>.monat-jahr {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.monatsliste>h2>.monatsbilanz {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  font-size: 1.8rem;
  padding: .5rem 1rem;
  color: #fff;
  border-radius: 0.2rem;
}

.monatsliste>h2>.monatsbilanz.positiv {
  background-color: #28a745;
}

.monatsliste>h2>.monatsbilanz.negativ {
  background-color: #dc3545;
}

.monatsliste>ul {
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
}

.monatsliste>ul>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5rem;
  margin: 0.2rem 0;
}

.monatsliste>ul>li>.datum {
  padding: .5rem 1.8rem .5rem 2rem;
  border-top: .1rem solid #ced4da;
  border-right: none;
  border-bottom: .1rem solid #ced4da;
  border-left: .1rem solid #ced4da;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background-color: #ecedee;
  color: #495057;
  width: 12rem;
  text-align: center;
}

.monatsliste>ul>li>.titel {
  padding: .5rem 2rem;
  border-top: .1rem solid #ced4da;
  border-right: none;
  border-bottom: .1rem solid #ced4da;
  border-left: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.titel2 {
  text-align: end;
}

.monatsliste>ul>li>.betrag {
  padding: .5rem 2rem;
  border-top: .1rem solid #ced4da;
  border-right: none;
  border-bottom: .1rem solid #ced4da;
  border-left: none;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.entfernen-button {
  color: #000000;
  width: 4.5rem;
  background-color: #f79b9b;
  padding: .5rem 1rem;
  border-top: .1rem solid #ced4da;
  border-right: .1rem solid #ced4da;
  border-bottom: .1rem solid #ced4da;
  border-left: none;
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.entfernen-button>* {
  pointer-events: none;
}

.entfernen-button:focus {
  border-color: #ff809c;
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem rgba(255, 0, 140, 0.25);
  box-shadow: 0 0 0 .2rem rgba(255, 0, 162, 0.25);
  z-index: 1;
}

.monatsliste>ul>li.ausgabe>.titel,
.monatsliste>ul>li.ausgabe>.betrag {
  background-color: #f8d7da;
  color: #dc3545;
  border-color: #f5c6cb;
}

.monatsliste>ul>li.einnahme>.titel,
.monatsliste>ul>li.einnahme>.betrag {
  background-color: #d4edda;
  color: #28a745;
  border-color: #c3e6cb;
}

#footer1 {  
  box-shadow: #c0c1c1 2px 2px;
  border-radius: 2px;
  padding-bottom: 1%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  height: 10em;
  margin-top: 50%;
  margin-bottom: 2%;
  background-color: #2f272f;
  background-image: linear-gradient(
    0deg,
    #2f272f 0%,
    #3f4e50 50%,
    #4f616d 100%
  );
}
